body{
font-family: Arial, Verdana,  sans-serif;
color: #333;
}
d{
color:#009624;
font-family: Georgia, Times, serif;
font-weight: normal;
}
t{
color:#009624;
font-family: Georgia, Times, serif;
font-weight: normal;
}
n{
text-align: justify;
}
